@font-face {
    font-family: HeliosC;
    src: url("../fonts/heliosc.otf");
}

@font-face {
    font-family: Acrom;
    src: url("../fonts/Acrom-Regular.ttf");
}

@font-face {
    font-family: Montserrat;
    src: url("../fonts/Montserrat-Regular.ttf");
}

/* BOOTSTRAP */

.container {
    max-width: 1600px;
}

.dropdown-item {
    color: #404040 !important;
}

.dropdown-toggle::after {
    display: none;
}

.btn-primary,
.btn-outline-primary {
    height: 40px;
    border-radius: 20px;
    opacity: 1;
    transition: opacity 0.25s ease-in-out;
    font-size: 15px;
    font-weight: 700;
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus,
.btn-outline-primary:hover,
.btn-outline-primary:active,
.btn-outline-primary:focus {
    opacity: 0.5;
    box-shadow: none !important;
}

.btn-primary {
    background-color: #894083;
    border-color: transparent;
    color: #ffffff;
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus {
    border-color: transparent;
    background-color: #894083;
}

.btn-outline-primary {
    background-color: transparent;
    border-color: #894083;
    color: #894083;
}

.btn-outline-primary:hover,
.btn-outline-primary:active,
.btn-outline-primary:focus {
    background-color: transparent;
    border-color: #894083;
    color: #894083;
}

/* HEADER */

.header {
    background-color: #ffffff;
    box-shadow: 0 3px 24px 0 rgba(0, 0, 0, 0.08);
}

.nav-top {
    height: 40px;
    background-color: #894083;
    border-radius: 0 0 20px 20px;
}

.nav-top .nav-item a {
    display: flex;
    align-items: center;
    padding-right: 24px !important;
    padding-left: 24px !important;
    color: #ffffff;
    opacity: 1;
    transition: all 0.2s ease-in-out;
}

.nav-top .nav-item img:last-child {
    margin-right: 10px;
}

.nav-top .nav-item a:hover,
.nav-top .nav-item a:focus {
    color: #ffffff;
    opacity: 0.75;
}

.dropdown-chevron {
    margin-right: 0 !important;
    margin-left: 10px;
}

.nav-bottom {
    height: 82px;
    grid-template-columns: auto auto 1fr auto;
    column-gap: 60px;
    font-family: Montserrat, serif;
}

.search-wrapper {
    position: relative;
}

.search-input {
    height: 52px;
    padding-left: 70px;
    border-radius: 26px !important;
    box-shadow: none !important;
    background-color: #F4F4F4;
    border-color: transparent;
    transition: all 0.25s ease-in-out;
}

.search-input:focus {
    border-color: #894083;
}

.search-icon,
.search-clear-button {
    position: absolute;
    display: flex;
    align-items: center;
    height: 100%;
    z-index: 4;
}

.search-icon {
    left: 15px;
}

.search-clear-button {
    cursor: pointer;
    right: 12px;
    opacity: 1;
    transition: opacity 0.25s ease-in-out;
}

.search-clear-button:hover {
    opacity: 0.75;
}

.nav-bottom .nav-item a {
    display: flex;
    align-items: center;
    padding-right: 24px !important;
    padding-left: 24px !important;
    color: #404040;
    opacity: 1;
    transition: all 0.2s ease-in-out;
}

.nav-bottom .nav-item img {
    margin-right: 10px;
}

.nav-bottom .nav-item a:hover,
.nav-bottom .nav-item a:focus {
    color: #404040;
    opacity: 0.75;
}

.cart-link {
    position: relative;
}

.cart-counter-wrapper {
    position: absolute;
    left: 36px;
    top: 2px;
    padding: 1px 8px;
    border-radius: 10px;
    font-family: Acrom, sans-serif;
    font-size: 12px;
    color: #fff;
    background-color: #894083;
}

/* FIRST BLOCK */
.first-block {
    height: calc(100vh - 122px);
}

/* PROMO BLOCK */
.promo-block {
    padding: 60px 0 40px;
    background-image: url('../img/bg.svg');
    background-repeat: no-repeat;
    background-position-x: 95%;
    background-position-y: 120%;
}

.promo-title {
    color: #894083;
    margin-bottom: 70px;
}

.product-carousel-indicators {
    z-index: 0;
    margin-bottom: 50px;
    pointer-events: none;
}

.product-carousel-indicator {
    margin: 0 12px !important;
    height: 8px !important;
    width: 8px !important;
    border: none !important;
    border-radius: 4px !important;
    background-color: #BDBDBD !important;
    opacity: 1 !important;
}

button.product-carousel-indicator.active {
    background-color: #FF8700 !important;
}

#promoBlockCarousel {
    min-height: 588px !important;
}

.product-card {
    position: relative;
    box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.08);
    min-height: 486px;
}

.product-tags-wrapper {
    position: absolute;
    padding: 10px;
}

.product-discount,
.product-new,
.product-recommended {
    height: 20px;
    color: #ffffff;
    font-size: 12px;
    border-radius: 20px 0;
    padding: 0 10px;
    width: fit-content;
    margin-bottom: 2px;
}

.product-discount {
    background-color: #FDCA33;
}

.product-new {
    background-color: #8DC63F;
}

.product-recommended {
    background-color: #00C2CE;
}

.product-card {
    border-radius: 22px 0;
    /*height: 460px;*/
}

.product-card-cover {
    border-radius: 22px 0 0 0;
    height: 280px;
}

.product-card-body {
    border-radius: 0 0 22px 0;
}

.product-card-available {
    font-size: 14px;
    color: #C74A2C;
}

.product-card-available.active {
    color: #894083;
}

.product-card-code {
    color: #828282;
    font-size: 14px;
}

.product-card-text {
    min-height: 68px;
    font-size: 15px;
    -webkit-line-clamp: 3;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.product-card-price {
    font-size: 24px;
    font-weight: 700;
    color: #181717;
}

.product-card-old_price {
    font-size: 18px;
    color: #828282;
    margin-left: 8px;
    text-decoration: line-through;
}

.product-card-cart {
    position: relative;
    margin-left: auto;
}

.cart-counter-wrapper-product {
    left: 14px;
    top: -3px;
}

.product-card-amount-button-decrease,
.product-card-amount-button-increase {
    border: none;
    font-size: 24px;
    color: #894083;
    font-weight: 700;
    background-color: transparent;
    display: flex;
    align-items: center;
    line-height: 40px;
}

.product-card-amount-input {
    width: 100%;
    border: none;
    outline: none;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
}

.product-card-amount-input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.product-button-cart {
    margin-left: 10px;
}

.product-card-footer {
    /*margin-top: auto;*/
}

.product-card-controls {
    height: 0;
    opacity: 0;
    transition: all 0.25s ease-in-out;
}

.product-card:hover .product-card-controls {
    height: 100px;
    opacity: 1;
}

.product-favorite-wrapper {
    position: absolute;
    right: 15px;
    top: 15px;
    opacity: 0;
    transition: opacity 0.25s ease-in-out;
}

.product-favorite-wrapper.active {
    opacity: 1;
}

.product-card:hover .product-favorite-wrapper {
    opacity: 1;
}

/* FOOTER */
.footer {
    background-color: #894083;
    padding: 30px 0 50px 0;
}

.footer-title {
    color: #ffffff;
    font-size: 18px;
    margin-bottom: 20px;
}

.footer-block {
    display: flex;
    flex-direction: column;
}

.footer-link {
    display: block;
    width: fit-content;
    color: #ffffff;
    text-decoration: none;
    font-size: 15px;
    margin-bottom: 10px;
    opacity: 1;
    transition: all 0.2s ease-in-out;
}

.footer-link img {
    margin-right: 8px;
}

.footer-link:hover {
    color: #ffffff;
    opacity: 0.5;
}

.footer-social a {
    margin-right: 8px;
}